@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');


h1,
p,
span {
    font-family: 'Source Sans 3', 'Playfair Display', sans-serif;
}